
body{
    background-color: #d6fde9;
}
#principal{
    color: white;
    background-color: #3c805e;
    align-items: center;
    text-align: center;
}
h1{
    color: #1e402f;
}
h2{
    color: #3c805e;
}
p{
    text-indent: 20px;
}
.basico{
    color: rgb(0, 211, 0);
    font-weight: bold;
}
.intermediario{
    color: rgb(158, 158, 0);
    font-weight: bold;
}
.avancado{
    color: red;
    font-weight: bold;
}
.subtitle{
    text-align: center;
}
