
body{
    background-color: rgb(137, 151, 132);
}
#principal{
    color: white;
    background-color: green;
    align-items: center;
    text-align: center;
}
h1{
    color: green;
}
h2{
    color: rgb(51, 77, 49);
}